/* --------------- page-about-style1 --------------- */
.page-faq-style1 {

    /* --------------- header style1 --------------- */
    .tc-faq-faq-style1 {
        padding: 120px 0;

        .vid-side{
            position: relative;
            padding-bottom: 200px;
            .img{
                width: 70%;
                height: 420px;
            }
            .img2{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 60%;
                height: 320px;
                border: 10px solid #fff;
                z-index: 10;
            }
            .play-btn{
                width: 100px;
                height: 100px;
                line-height: 100px;
                font-size: 18px;
                text-align: center;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 5px 10px 20px #0001;
                position: absolute;
                top: 110px;
                left: 70%;
                transform: translateX(-50%);
            }
        }
    
        .accordion-side{
            .accordion{
                .accordion-item{
                    border: 0;
    
                    .accordion-button{
                        box-shadow: none;
                        background-color: transparent;
                        color: #222;
                        font-size: 20px;
                        border-bottom: 1px solid #ccc;
                        padding: 20px 0;           
                    }
    
                    .accordion-body{
                        background-color: #edf0f5;
                        padding: 30px;
                    }
    
                }
            }
        }
    }


    .tc-faq-contact-style1 {
        position: relative;
        z-index: 30;
        margin-bottom: -170px;
        .contact-card {
            position: relative;
            padding: 60px 50px;
            text-align: center;
            background-color: #fff;
            filter: drop-shadow(0px 40px 30px rgba(0,0,0,0.04));
        }
    }

    .tc-faq-map-style1 {
        iframe{
            margin-bottom: -6px;
            filter: grayscale(0.5);
            opacity: 0.9;
        }
    }

}

@media screen and (max-width: 991px) {

}