/* --------------- page-product-grid-style1 --------------- */
.page-product-grid-style1 {

    /* --------------- product-grid style1 --------------- */
    .tc-product-grid-style1 {
        padding: 120px 0;

        .aside {
            padding-inline-start: 60px;
            margin-inline-start: 60px;
            border-inline-start: 1px solid #9993;
            height: 100%;

            .search-form {
                position: relative;
                .icon {
                    position: absolute;
                    top: 21px;
                    left: 20px;
                    z-index: 10;
                }
                .form-control {
                    min-height: 60px;
                    background-color: #f7f7f7;
                    padding: 15px 0 15px 45px;
                    border: 0;
                    border-radius: 0;
                    font-size: 16px;
                }
            }

            .price-card {
                
                .price-input {
                  width: 100%;
                  display: flex;
                }
                .price-input .field {
                  display: flex;
                  width: 100%;
                  height: 25px;
                  align-items: center;
                }
                .field input {
                  width: 50px;
                  height: 100%;
                  outline: none;
                  font-size: 14px;
                  margin-left: 12px;
                  text-align: center;
                  -moz-appearance: textfield;
                  border: 0;
                  border-radius: 0;
                  color: #777;
                //   background-color: #000;
                }
                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                }
                .price-input .separator {
                    width: 15px;
                    height: 1px;
                    background-color: #777;
                    flex-shrink: 0;
                    margin-inline-start: 10px;
                    position: relative;
                    top: 12px;
                }
                .slider {
                  height: 5px;
                  position: relative;
                  background: #ddd;
                  border-radius: 5px;
                }
                .slider .progress {
                  height: 100%;
                  left: 0%;
                  right: 0%;
                  position: absolute;
                  border-radius: 5px;
                  background: var(--color-blue1);
                }
                .range-input {
                  position: relative;
                }
                .range-input input {
                  position: absolute;
                  width: 100%;
                  height: 5px;
                  top: -5px;
                  background: none;
                  pointer-events: none;
                  -webkit-appearance: none;
                  -moz-appearance: none;
                }
                input[type="range"]::-webkit-slider-thumb {
                  height: 17px;
                  width: 17px;
                  background: var(--color-blue1);
                  pointer-events: auto;
                  -webkit-appearance: none;
                  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                }
                input[type="range"]::-moz-range-thumb {
                  height: 17px;
                  width: 17px;
                  border: none;
                  background: var(--color-blue1);
                  pointer-events: auto;
                  -moz-appearance: none;
                  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
                }
              }

              .cat-links {
                border-top: 1px solid #9993;
                li{
                    padding: 20px 0;
                    border-bottom: 1px solid #9993;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    a{
                        &:hover {
                            color: var(--color-blue1);
                        }
                    }
                }
              }
              
        }

        .pagination {
            margin-top: 80px;
            justify-content: center;
            width: 100%;
            .page-link {
                width: 50px;
                height: 50px;
                border: 1px solid #9992;
                margin: 0 5px;
                padding: 0;
                line-height: 50px;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                color: #666;
                &:hover,&.active{
                    border-color: var(--color-blue1);
                    background-color: var(--color-blue1);
                    color: #fff;
                }
            }
        }

    }


}

@media screen and (max-width: 991px) {
    .page-product-grid-style1 {
        .tc-product-grid-style1 {
            .aside {
                padding: 0;
                margin: 0;
                border: 0;
            }
            .pagination .page-link {
                width: 35px;
            }
        }
    }
}