/* --------------- contact style8 --------------- */
.tc-contact-style8 {
    padding: 120px 0;
    background-color: #1d1d1d;

    .form-group{
        position: relative; 

        .form-control{
            padding: 10px 0;
            border: 0;
            border-bottom: 1px solid #777;
            color: #fff;
            background-color: transparent;
            border-radius: 0;
            text-transform: uppercase;
            &::placeholder{
                color: #777;
            }
        }

        .icon{
            font-size: 14px;
            color: #777;
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }

    .checks-content{
        .form-check{
            padding: 0;

            .form-check-input{
                display: none;
            }

            .form-check-input:checked ~ .form-check-label{
                background-color: var(--color-green1);
                color: #fff;
            }
            
            .form-check-label{
                color: #bcbcbc;
                background-color: #272727;
                padding: 15px 30px;
                border-radius: 50px;
                cursor: pointer;
                text-transform: uppercase;
            }
        }
    }


}

@media screen and (max-width: 991px) {
    .tc-contact-style8 {
        .contact-form{
            margin-top: 50px;
        }
        .checks-content{
            .form-check-inline{
                margin: 0 5px 10px 0;
            }
        }
    }
}