/* ========= [ * page-home_3 ]  =========*/ /* --------------- footer style8 --------------- */
.tc-footer-style8 {
  position: relative;
  font-size: 16px;
}
.tc-footer-style8::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: calc(100% - 100px);
  height: 100%;
  background-color: var(--color-green1);
}
.tc-footer-style8::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 100px;
  height: 200px;
  background-color: #1d1d1d;
}
.tc-footer-style8 .footer-content {
  padding: 120px 0;
}
.tc-footer-style8 .foot-subs .form-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 15px 0;
  font-size: 14px;
}
.tc-footer-style8 .foot-subs .form-group .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}
.tc-footer-style8 .foot-subs .form-group input {
  width: 100%;
  border: 0;
  background: transparent;
  color: #fff;
}
.tc-footer-style8 .foot-subs .form-group input::-webkit-input-placeholder {
  color: #fff;
}
.tc-footer-style8 .foot-subs .form-group input::-moz-placeholder {
  color: #fff;
}
.tc-footer-style8 .foot-subs .form-group input:-ms-input-placeholder {
  color: #fff;
}
.tc-footer-style8 .foot-subs .form-group input::-ms-input-placeholder {
  color: #fff;
}
.tc-footer-style8 .foot-subs .form-group input::placeholder {
  color: #fff;
}
.tc-footer-style8 .foot-subs .form-group button {
  border: 0;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
}
.tc-footer-style8 .foot {
  position: relative;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.0666666667);
  z-index: 10;
}
.tc-footer-style8 .to-top {
  position: absolute;
  right: 50px;
  top: 345px;
  z-index: 10;
}
.tc-footer-style8 .to-top .cont {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: right;
          transform-origin: right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
.tc-footer-style8 .to-top .cont .to-top-btn {
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 30px;
  background-color: #2c2c2c;
  color: #fff;
}
.tc-footer-style8 .to-top .cont .arrow {
  padding: 17px;
  background-color: var(--color-green1);
  color: #fff;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  display: block;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

@media screen and (max-width: 991px) {
  .tc-footer-style8::after, .tc-footer-style8::before {
    display: none;
  }
  .tc-footer-style8 .to-top {
    bottom: 0;
    top: auto;
  }
}
/* --------------- navbar style8 --------------- */
.navbar.style8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 15px;
  z-index: 99;
}
.navbar.style8 .navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  color: #fff;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
}
.navbar.style8 .navbar-nav .nav-item .nav-link:hover, .navbar.style8 .navbar-nav .nav-item .nav-link.active {
  text-decoration: underline;
}
.navbar.style8 .nav-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.navbar.style8 .nav-side .social-links a {
  color: #999;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}
.navbar.style8 .nav-side .social-links a:hover {
  color: #fff;
}

@media screen and (max-width: 991px) {
  .navbar.style8 {
    position: relative;
    padding: 15px;
    background-color: #1d1d1d;
    overflow: hidden;
  }
  .navbar.style8 .w-100 {
    width: calc(100% + 30px) !important;
  }
  .navbar.style8 .butn {
    padding: 12px 20px !important;
  }
  .navbar.style8 .butn * {
    font-size: 12px !important;
  }
  .navbar.style8 .navbar-nav {
    margin-top: 30px;
  }
  .navbar.style8 .navbar-nav .nav-item .nav-link {
    margin: 10px 0;
  }
  .navbar.style8 .navbar-brand {
    width: calc(100% - 60px);
  }
}
/* --------------- header style8 --------------- */
.tc-header-style8 {
  position: relative;
  padding: 280px 0 200px;
  border-bottom: 1px solid #393939;
}
.tc-header-style8 .info h1 {
  font-size: 90px;
}
.tc-header-style8 .float-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  -webkit-border-end: 1px solid #393939;
          border-inline-end: 1px solid #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tc-header-style8 .float-text p {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.tc-header-style8 .float-contact-info {
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  -webkit-border-start: 1px solid #393939;
          border-inline-start: 1px solid #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.tc-header-style8 .float-contact-info .cont {
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.tc-header-style8 .float-contact-info .cont a:hover {
  color: var(--color-green1);
}
.tc-header-style8 .rotate-box {
  position: absolute;
  width: 210px;
  height: 210px;
  display: block;
  right: 5%;
  bottom: -80px;
}
.tc-header-style8 .rotate-box .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  -webkit-transform: translate(-45px, -2px);
          transform: translate(-45px, -2px);
}
.tc-header-style8 .rotate-box .rotate-text {
  -webkit-animation: rotateText 20s linear infinite;
          animation: rotateText 20s linear infinite;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  left: calc(50% - 125px);
  top: 20px;
  border-radius: 50%;
}
.tc-header-style8 .rotate-box .rotate-circle svg {
  width: 210px;
  height: 210px;
  fill: #fff;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  font-weight: 300;
}
@-webkit-keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes rotateText {
  0% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (max-width: 991px) {
  .tc-header-style8 {
    padding: 70px 0 120px;
    overflow: hidden;
  }
  .tc-header-style8 .info h1 {
    font-size: 50px;
  }
  .tc-header-style8 .info .img {
    margin-bottom: 30px;
  }
  .tc-header-style8 .float-contact-info,
.tc-header-style8 .float-text {
    display: none;
  }
}
/* --------------- services style8 --------------- */
.tc-services-style8 {
  padding: 120px 0;
}
.tc-services-style8 .tab-content h2 {
  font-size: 58px;
  min-height: 370px;
}
.tc-services-style8 .tab-content .img {
  position: relative;
  height: 650px;
}
.tc-services-style8 .tab-content .img::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background-color: #222;
  z-index: 5;
  pointer-events: none;
}
.tc-services-style8 .tab-content .img::after {
  position: absolute;
  content: "";
  right: 100px;
  bottom: -100px;
  width: 100px;
  height: 100px;
  background-color: var(--color-green1);
  z-index: 5;
  pointer-events: none;
}
.tc-services-style8 .nav-pills {
  padding-top: 100px;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}
.tc-services-style8 .nav-pills .nav-item:last-of-type .nav-link {
  border: 0;
}
.tc-services-style8 .nav-pills .nav-item .nav-link {
  padding: 15px 0;
  border-bottom: 1px solid #393939;
  font-size: 20px;
  color: #bcbcbc;
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  font-weight: 300;
  display: block;
}
.tc-services-style8 .nav-pills .nav-item .nav-link span {
  -webkit-margin-start: -30px;
          margin-inline-start: -30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-services-style8 .nav-pills .nav-item .nav-link .icon {
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-services-style8 .nav-pills .nav-item .nav-link:hover span, .tc-services-style8 .nav-pills .nav-item .nav-link.active span {
  -webkit-margin-start: 0;
          margin-inline-start: 0;
}
.tc-services-style8 .nav-pills .nav-item .nav-link:hover .icon, .tc-services-style8 .nav-pills .nav-item .nav-link.active .icon {
  opacity: 1;
}
.tc-services-style8 .nav-pills::-webkit-scrollbar {
  height: 0;
  width: 0;
  background: transparent;
  border-radius: 0;
}
.tc-services-style8 .nav-pills::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}
.tc-services-style8 .nav-pills::-webkit-scrollbar-corner {
  background: transparent;
  border-radius: 10px;
}

@media (min-width: 1400px) {
  .tc-services-style8 .tab-content .img {
    width: 1270px !important;
  }
}
@media screen and (max-width: 991px) {
  .tc-services-style8 .nav-pills {
    padding-top: 0;
    margin-bottom: 30px;
  }
  .tc-services-style8 .tab-content h2 {
    font-size: 30px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    margin-bottom: 30px;
  }
  .tc-services-style8 .tab-content .img {
    height: 350px;
  }
}
/* --------------- features-slider style8 --------------- */
.tc-features-slider-style8 {
  padding: 50px 0;
}
.tc-features-slider-style8 .slide-link {
  font-size: 100px;
  color: #999;
}
.tc-features-slider-style8 .slide-link:hover {
  color: var(--color-green1) !important;
}
.tc-features-slider-style8 .tc-features-slider8 .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.tc-features-slider-style8 .tc-features-slider8 .swiper-slide {
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
}

@media screen and (max-width: 991px) {
  .tc-features-slider-style8 .slide-link {
    font-size: 50px;
  }
}
/* --------------- partners style8 --------------- */
.tc-partners-style8 {
  padding: 40px 0 0;
}
.tc-partners-style8 .partner-card {
  position: relative;
  text-align: center;
  height: 260px;
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}
.tc-partners-style8 .partner-card:hover {
  background-color: var(--color-green1);
}
.tc-partners-style8 .partner-card:hover .logo {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.tc-partners-style8 .partner-card:hover .foot-inf p {
  opacity: 0;
}
.tc-partners-style8 .partner-card:hover .foot-inf .icon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #000;
  color: #fff;
}
.tc-partners-style8 .partner-card:hover .info {
  opacity: 1;
  margin-top: 0;
}
.tc-partners-style8 .partner-card .logo {
  max-width: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-partners-style8 .partner-card .foot-inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 25px;
  z-index: 1;
}
.tc-partners-style8 .partner-card .foot-inf p {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-partners-style8 .partner-card .foot-inf .icon {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 13px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.1333333333);
}
.tc-partners-style8 .partner-card .info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: start;
  padding: 30px;
  opacity: 0;
  margin-top: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 991px) {
  .tc-partners-style8 {
    padding: 50px 0 0;
  }
  .tc-partners-style8 .content {
    padding-bottom: 50px;
  }
}
/* --------------- portfolio style8 --------------- */
.tc-portfolio-style8 {
  padding: 120px 0;
}
.tc-portfolio-style8 .portfolio-card {
  position: relative;
  display: block;
}
.tc-portfolio-style8 .portfolio-card::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background-image: linear-gradient(to top, #000, transparent);
  opacity: 0.5;
  z-index: 2;
}
.tc-portfolio-style8 .portfolio-card:hover .img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.tc-portfolio-style8 .portfolio-card:hover .img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.tc-portfolio-style8 .portfolio-card .img {
  height: 550px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-portfolio-style8 .portfolio-card .img img {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-portfolio-style8 .portfolio-card .info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 50px;
  z-index: 10;
}
.tc-portfolio-style8 .portfolio-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 100%;
}
.tc-portfolio-style8 .portfolio-link:hover {
  background-color: rgba(104, 170, 19, 0.0666666667);
}

@media screen and (max-width: 991px) {
  .tc-portfolio-style8 .portfolio-card .img {
    height: 350px;
  }
  .tc-portfolio-style8 .portfolio-link {
    margin-top: 30px;
  }
}
/* --------------- contact style8 --------------- */
.tc-contact-style8 {
  padding: 120px 0;
  background-color: #1d1d1d;
}
.tc-contact-style8 .form-group {
  position: relative;
}
.tc-contact-style8 .form-group .form-control {
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid #777;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  text-transform: uppercase;
}
.tc-contact-style8 .form-group .form-control::-webkit-input-placeholder {
  color: #777;
}
.tc-contact-style8 .form-group .form-control::-moz-placeholder {
  color: #777;
}
.tc-contact-style8 .form-group .form-control:-ms-input-placeholder {
  color: #777;
}
.tc-contact-style8 .form-group .form-control::-ms-input-placeholder {
  color: #777;
}
.tc-contact-style8 .form-group .form-control::placeholder {
  color: #777;
}
.tc-contact-style8 .form-group .icon {
  font-size: 14px;
  color: #777;
  position: absolute;
  right: 10px;
  top: 10px;
}
.tc-contact-style8 .checks-content .form-check {
  padding: 0;
}
.tc-contact-style8 .checks-content .form-check .form-check-input {
  display: none;
}
.tc-contact-style8 .checks-content .form-check .form-check-input:checked ~ .form-check-label {
  background-color: var(--color-green1);
  color: #fff;
}
.tc-contact-style8 .checks-content .form-check .form-check-label {
  color: #bcbcbc;
  background-color: #272727;
  padding: 15px 30px;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .tc-contact-style8 .contact-form {
    margin-top: 50px;
  }
  .tc-contact-style8 .checks-content .form-check-inline {
    margin: 0 5px 10px 0;
  }
}
/* --------------- testimonials style8 --------------- */
.tc-testimonials-style8 {
  padding: 120px 0;
}
.tc-testimonials-style8 .arrows {
  color: #fff;
}
.tc-testimonials-style8 .arrows a {
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}
.tc-testimonials-style8 .arrows a:hover {
  color: var(--color-green1);
}
.tc-testimonials-style8 .testi-card {
  border: 1px solid #393939;
  border-radius: 0;
  padding: 50px;
}
.tc-testimonials-style8 .testi-card .text {
  font-size: 22px;
  min-height: 250px;
}
.tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls {
  position: relative;
  background-color: transparent;
  padding: 5px 20px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 80px;
  border: 1px solid #393939;
}
.tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-pagination {
  position: relative;
  bottom: 0;
}
.tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-pagination .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0.3333333333);
}
.tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-button-next::after,
.tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-button-prev::after {
  font-size: 14px;
  color: #999;
}

@media screen and (max-width: 991px) {
  .tc-testimonials-style8 .testi-card {
    padding: 25px;
  }
  .tc-testimonials-style8 .testi-card .text {
    margin-bottom: 30px;
    font-size: 18px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
}
/* --------------- awards style8 --------------- */
.tc-awards-style8 {
  padding: 120px 0;
  border-top: 1px solid #393939;
}
.tc-awards-style8 .title .icon {
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
  line-height: 60px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(104, 170, 19, 0.1333333333);
}
.tc-awards-style8 .title-row {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3333333333);
  padding: 15px 30px;
}
.tc-awards-style8 .title-row p {
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}
.tc-awards-style8 .card-row {
  display: block;
  padding: 25px 30px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3333333333);
  height: 75px;
}
.tc-awards-style8 .card-row:hover {
  background-color: var(--color-green1);
  border-bottom: 1px solid var(--color-green1);
  color: #fff;
}
.tc-awards-style8 .card-row:hover .img {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.tc-awards-style8 .card-row .img {
  position: relative;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin-top: -65px;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 10;
}
.tc-awards-style8 .card-row .img::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--color-green1);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.0666666667);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.0666666667);
}
.tc-awards-style8 .card-row .img img {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 991px) {
  .tc-awards-style8 .card-row {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .tc-awards-style8 .card-row .img {
    opacity: 1;
    margin-top: 30px;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/* --------------- blog style8 --------------- */
.tc-blog-style8 {
  padding: 120px 0;
  background-color: #1d1d1d;
}

.home-style8 {
  background-color: #222;
  color: #fff;
}
.home-style8 h1, .home-style8 h2, .home-style8 h3, .home-style8 h4, .home-style8 h5, .home-style8 h6, .home-style8 .sub_font {
  font-family: "Amiri", serif;
  font-weight: 400;
}
.home-style8 .sub_font_2 {
  font-family: "Prata", serif;
}
.home-style8 .border_light {
  border-color: #393939 !important;
}
.home-style8 .lt_item {
  display: none;
}

@media screen and (max-width: 991px) {
  .home-style8 br {
    display: none;
  }
  .home-style8 .fsz-90 {
    font-size: 50px !important;
  }
  .home-style8 .fsz-50 {
    font-size: 30px !important;
  }
  .home-style8 .fsz-40 {
    font-size: 25px !important;
  }
  .home-style8 .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-style8 .fsz-30 {
    font-size: 18px !important;
  }
}
.home-style8.light-theme {
  color: #222;
  background-color: #fff;
}
.home-style8.light-theme .lt_item {
  display: block;
}
.home-style8.light-theme .dr_item {
  display: none;
}
.home-style8.light-theme .navbar.style8 .navbar-nav .nav-item .nav-link {
  color: #222;
}
.home-style8.light-theme .text-white,
.home-style8.light-theme .tc-services-style8 .nav-pills .nav-item .nav-link,
.home-style8.light-theme .tc-partners-style8 .partner-card .foot-inf,
.home-style8.light-theme .tc-portfolio-style8 .portfolio-link {
  color: #000 !important;
}
.home-style8.light-theme .navbar.style8 .nav-side .social-links a {
  color: #666;
}
.home-style8.light-theme .navbar.style8 .nav-side .social-links a:hover {
  color: #000;
}
.home-style8.light-theme .color-999 {
  color: #666 !important;
}
.home-style8.light-theme .tc-header-style8 .rotate-box .rotate-circle svg {
  fill: #000;
}
.home-style8.light-theme .tc-header-style8,
.home-style8.light-theme .tc-header-style8 .float-text,
.home-style8.light-theme .tc-header-style8 .float-contact-info,
.home-style8.light-theme .border_light,
.home-style8.light-theme .tc-partners-style8 .partner-card,
.home-style8.light-theme .border-white,
.home-style8.light-theme .tc-testimonials-style8 .testi-card,
.home-style8.light-theme .tc-awards-style8 {
  border-color: rgba(153, 153, 153, 0.6) !important;
}
.home-style8.light-theme .tc-partners-style8 .partner-card .info p,
.home-style8.light-theme .tc-portfolio-style8 .portfolio-card .info {
  color: #fff;
}
.home-style8.light-theme .tc-contact-style8,
.home-style8.light-theme .tc-blog-style8,
.home-style8.light-theme .tc-footer-style8::after {
  background-color: #f5f5f5;
}
.home-style8.light-theme .tc-contact-style8 .checks-content .form-check .form-check-label {
  color: #000;
  background-color: #fff;
}
.home-style8.light-theme .tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-pagination .swiper-pagination-bullet,
.home-style8.light-theme .tc-testimonials-style8 .tc-testimonials-slider8 .slider-controls .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #000;
}
.home-style8.light-theme .tc-footer-style8 {
  color: #fff;
}
.home-style8.light-theme .tc-footer-style8 .foot {
  background-color: rgba(255, 255, 255, 0.0666666667);
}
.home-style8.light-theme .tc-contact-style8 .checks-content .form-check .form-check-input:checked ~ .form-check-label {
  background-color: var(--color-green1);
  color: #fff;
}