/* --------------- testimonials style4 --------------- */
.tc-testimonials-style4 {
    padding: 120px 0;

    .tc-testimonials-slider4{
        position: relative;
        overflow: hidden;
        padding-bottom: 80px;

        .swiper-pagination{
            position: absolute;
            bottom: 10px;
            .swiper-pagination-bullet{
                opacity: 0.3;
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
                outline: 1px solid transparent;
                outline-offset: 5px;
                margin: 0 7px;
                &.swiper-pagination-bullet-active{
                    opacity: 1;
                    outline: 1px solid #000;
                }
            }
        }
    }

    .testimonial-card{
        position: relative;
        padding: 40px;
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid #000;
        
        .stars{
            position: absolute;
            right: 0;
            top: 0;
            padding: 5px 15px;
            border-radius: 0 20px 0 20px;
            border: 1px solid #000;
            border-top: 0;
            border-right: 0;
        }

        .logo{
            height: 50px;
            margin-bottom: 40px;
        }
    }


}

@media screen and (max-width: 991px) {
    .tc-testimonials-style4 {

    }
}