
/* --------------- header style1 --------------- */
.tc-section-title-style1{
    h2{
      font-size: 48px;
      span{
         color: #999;
         font-style: italic;
         font-family: 'Playfair Display', serif;
         font-weight: normal;
      }
    }
}